/*TOP WRAPPERS*/
.globalWrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  /*justify-content:flex-start;*/
}

.headerWrap  {
  display: flex;
  max-width: 1244px;
  width: 100%;
  justify-content: center;
}

.backgroundWrap {
  max-width: 1244px;
  width: 100%;
}

.descriptionWrap {
  max-width: 1244px;
  width: 100%;
  max-height: 561px;
  height: 100%;
  background-color: #FF0026;
}

/*END TOP WRAPPERS*/
/*------------------------------------------*/

/*HEADER STYLING*/
.headerE {
  display: flex;
  width: 100%;
  max-width: 1244px;
  height: 110px;
  justify-content: space-between;
  align-items:center;
  border: 1px solid black;
}

.imgWrapper {
  flex: 2 3;
  display: flex;
  justify-content: space-between;
}

.headerE span {
  flex: 1 1;
}

.headerE span h1 {
  text-align:center;
  font-size: 50px;
  color: #F20024;
  font-family: 'Lato-bold', sans-serif;
}

.imgWrapper > img {
  width: 12%;
  max-width: 90px;
  height: 12%;
  max-height: 90px;
  margin-right: 5px
}
@media all and (max-width:1000px) {
  .headerE {
    height: 90px;
  }

  .imgWrapper {
    flex: 3 2;
  }

  .headerE span{
    flex: 2 1;
  }

  .headerE span h1{
    font-size: 35px;
  }
}

@media all and (max-width:500px) {
  .headerE {
    display: flex;
    flex-direction: column;
    height: 130px;
  }
  .headerE span {
    display:flex;
    flex: 2;
    align-items:center;
  }

  .headerE span h1 {
    font-size: 40px;
    font-family: 'Lato-bold', sans-serif;
  }

  .imgWrapper {
    flex: 1.5;
    justify-content: center;
  }
}
/*END HEADER STYLING*/
/*------------------------------------------*/

/*BACKGROUNDTOP STYLING*/

.backgroundTopImage {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background: url(../img/cathedral-lima-peru.png) center no-repeat;
  background-size: cover;
}

.backgroundTopImage > h1 {
  font-size: 90px;
  color: white;
  font-family: 'Lato-bold', sans-serif;
  letter-spacing: 4px;
}

.backDescription .limaColor {
  color: #F20024;
}

@media all and (max-width:1000px) {
  .backgroundTopImage > h1 {
    font-size: 59px;
  }
}

@media all and (max-width:500px) {
  .backgroundTopImage > h1 {
    font-size: 30px;
  }
}

/*END BACKGROUND TOP STYLING*/
/*------------------------------------------*/

/*DESCRIPTION BODY LIMA CULINARY*/

.descriptionIdea {
  text-align: center;
}

.descriptionIdea h1 {
  font-family: 'Lato', sans-serif;
  font-size: 85px;
  color: white;
  letter-spacing: 2px;
  padding: 0.5%;
}

@media all and (max-width:1000px) {
  .descriptionIdea h1 {
    font-size: 60px;
  }
}

@media all and (max-width:500px) {
  .descriptionIdea h1 {
    font-size: 30px;
  }
}

/*END OF DESCRIPTION BODY*/
/*------------------------------------------

