.globalWrapper {
  display: flex;
  flex-direction: column;
  /*justify-content:center;*/
  /*flex-wrap:wrap;*/
  height: 100vh;
  justify-content: space-between;

}

.headerWrap  {
  display: flex;
  flex:0 0 auto;
  justify-content: center;
}

.backgroundWrap {
  display: flex;
  flex:0 0 100%;
  justify-content: center;
}

/*HEADER STYLING*/
.headerE {
  width: 100%;
  max-width: 1244px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  border: 1px solid black;
}

.imgWrapper {
  flex: 5.5;
  display: flex;
  justify-content: space-around;
}

.headerE span {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerE span h1 {
  text-align: center;
  align-self:center;
  font-size: 50px;
  color: #F20024;
  font-family: 'Lato-bold', sans-serif;
}

.imgWrapper > img {
  flex: 0 0 88px;
  height: 88px;
}
/*END HEADER STYLING*/
/*------------------------------------------*/

/*BACKGROUNDTOP STYLING*/
.backgroundWrap {
  /*max-height: 653px;*/
  /*height:100%;*/
  background-color: yellow;
  border: 1px solid red;
}

.backgroundTopImage {
  justify-content: center;
  display:flex;
  text-align: center;
  background: url(../img/cathedral-lima-peru.png) center no-repeat;
  flex:1 1 1244px;
}


.backgroundTopImage h1 {

}

/*END BACKGROUND TOP STYLING*/
/*------------------------------------------*/
